.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profileImage {
    width: 50px; /* Tamaño personalizado para la imagen */
    height: 50px; /* Tamaño personalizado para la imagen */
    border-radius: 50%; /* Borde redondeado para la imagen */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
  }