.cardList {
    /* display: flex;
    flex-wrap:wrap;
    justify-content: center; */
     width: 70vw;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1.20rem;
}
@media screen and (max-width: 768px) {
    .cardList {
        grid-template-columns: 1fr; /* Cambia a una sola columna en dispositivos móviles */
        grid-template-rows: auto; /* Ajusta las filas automáticamente */
    }
}